node_modules/
.env
uploads/avatars/*
uploads/documents/*
uploads/photos/*
uploads/justificatifs/*
!uploads/avatars/.gitkeep
!uploads/documents/.gitkeep
!uploads/photos/.gitkeep
!uploads/justificatifs/.gitkeep
